*{
    margin: 0;
    padding: 0;
}
body{
    background: #00b09b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container{
    width: 23%;
    background-color: whitesmoke;
    border-radius: 25px;
    padding: 30px;
    position: absolute;
    left: 34%;
    top: 21%;
}
h2{
    text-align: center;
    color: rgb(6, 83, 6);
    padding-bottom: 30px;
    
}
.form button{
    background-color: rgb(6, 83, 6);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    padding: 8px;
    font-size: 17px;
    cursor: pointer;
    width: 100%;
}
.input{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.input input{
    border-radius: 4px;
    font-size: 15px;padding: 5px;
    margin-top: 5px;
    border: 1px solid rgb(6, 83, 6);
}
.input input:focus{
    outline: 0;
}
.input .error {
    color: rgb(196, 17, 17);
    font-size: 15px;
    margin-top: 5px;
}
.input .success input{
    border-color: rgb(28, 199, 28)
}

